body{
  background:#daaa;
}
.flex-parent{
  display:flex;
  flex-direction:row;
  justify-content: center;
}
.profile{
  width:110%;
  height: auto;
  background:#b00;
  margin:2%;
  padding:1%;
  border: 2px solid #0ff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.content{
  width:90%;
  height: auto;
  background:#bb0;
  margin:2%;
  padding:1%;
  border: 2px solid #0ff;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
img{
  display:block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50px;
}
h3{
  text-align: center;
  text-transform: capitalize;
  color: skyblue;
}
a{
  text-decoration: none;
}
@media only screen and (min-width:0px) and (max-width:480px){
.flex-parent{
    display:flex;
    flex-direction: column;
    justify-content: center;
 }
.profile{
  width:110%;
  height: auto;
  background:#b00aaa;
  margin:2%;
  padding:1%;
  border: 2px solid #aaa;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.content{
  width:90%;
  height: auto;
  background:#bb0aaa;
  margin:2%;
  padding:1%;
  border: 2px solid #aaa;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
}
@media only screen and (min-width:481px) and (max-width:760px){
.flex-parent{
    display:flex;
    flex-direction: column;
    justify-content: center;
 }
.profile{
  width:110%;
  height: auto;
  background:#b00b;
  margin:2%;
  padding:1%;
  border: 2px solid #121212;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;

}
.content{
  width:90%;
  height: auto;
  background:#bb0b;
  margin:2%;
  padding:1%;
  border: 2px solid #666444;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
}
table,tr,td
	{
		border:2px solid orange;
	}
	table
	{
		border-collapse:collapse;
		width:20%;
	}
	td
	{
		height:40px;
	}
	tr
	{
		background-color:green;
		color:white;
	}
